{{#if owner.public}}
<a href="/notes/{{_id}}">
  <div class="card">
    <div class="card-content card-title">
      <p>{{title}}</p>
    </div>
</a>
<div class="card-action">
  {{#if tags}}
  {{#each tags}}
  <div class="chip click-tag">{{this.name}}</div>
  {{/each}}
  {{/if}}
</div>
</div>
{{/if}}