{{#if owner.public}}
<div class="card paper">
  <a href="/notes/{{_id}}">
    <div class="card-content card-title">
      <p>{{title}}</p>
    </div>
  </a>
  {{#if tags}}
  <div class="card-action paper">
    {{#each tags}}
    <div class="chip click-tag">{{this.name}}</div>
    {{/each}}
  </div>
  {{/if}}
</div>
{{/if}}