<div class="card">
  <a href="/notes/{{_id}}">
    <div class="card-content card-title">
      <span class="card-title">{{title}}</span>
    </div>
  </a>
  {{#if tags}}
  <div class="card-action">
    {{#each tags}}
    <div class="chip click-tag">{{this.name}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="time card-content">{{updated_at_iso}}</div>