<div class="logout"><a href="/logout"><button class="btn btn-info">Logout</button></a></div>
<h3>Welcome {{user.username}}</h3>
<img src= "{{user.imgPath}}" width="75px" height="75px">
<br>
<br>
<div class="row">
  <form action="/tags" method="GET" class="col s12 search-home">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Search for a tag" name="tag" type="text" class="validate">
        <label for="Search">Search</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<div class="create-new-note"><a href="/notes/new"><button class="btn btn-info">Create new note</button></a></div>
<br>
<div class="Upload-handwritten-note"><a href="/notes/upload"><button class="btn btn-info">Upload & convert a handwritten
      note</button></a></div>
<br>
<div class="note-container">
  {{#each notesList}}
  {{> notePartial this}}
  {{/each}}
</div>