<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes"> <!--myscript-->
  <meta name="mobile-web-app-capable" content="yes"> <!--myscript-->
  <meta name="HandheldFriendly" content="true" /> <!--myscript-->
  <title>The Notebook</title>

  

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!--materialize-->

  <link rel="stylesheet" href="/stylesheets/myscript.min.css" /> <!--myscript-->
  <link rel="stylesheet" href="/stylesheets/examples.css"> <!--myscript-->
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script> <!--myscript-->
  <script type="text/javascript" src="/javascripts/myscript.min.js"></script> <!--myscript-->
</head>

<body>
  

{{{body}}}
  <!--- MENUE - TO CREATE NOTES-->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large pink">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a href="/home" class="btn-floating teal"><i class="material-icons">home</i></a></li>
    <li><a href="/notes/new" class="btn-floating red"><i class="material-icons">create</i></a></li>
    <li><a href="/notes/upload" class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a></li>
    <li><a href="/notes/script" class="btn-floating green"><i class="material-icons">gesture</i></a></li>
  </ul>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/tags.js"></script> <!--DOM manipulation tags-->
  <script src="/javascripts/myscript.js"></script> <!--myscript-->
  <script src="/javascripts/dates.js"></script>
  <script src="/javascripts/home-menu.js"></script>
</body>

</html>