<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!--myscript-->
  <meta name="mobile-web-app-capable" content="yes">
  <!--myscript-->
  <meta name="HandheldFriendly" content="true" />
  <!--myscript-->
  <title>The Notebook</title>



  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--materialize-->
  <link rel="stylesheet" href="/stylesheets/examples.css">
  <!--myscript-->
  <link rel="stylesheet" href="/stylesheets/myscript.min.css" />
  <!--myscript-->

  <link rel="stylesheet" href="/stylesheets/style.css">



</head>

<body>


  {{{body}}}
 



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/tags.js"></script>
  <!--DOM manipulation tags-->
  <script src="/javascripts/myscript.js"></script>
  <!--myscript-->
  <script src="/javascripts/dates.js"></script>
  <script src="/javascripts/home-menu.js"></script>
  <script src="/javascripts/popup.js"></script>
  <script src="/javascripts/preloader.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
  <!--myscript-->
  <script type="text/javascript" src="/javascripts/myscript.min.js"></script>
  <!--myscript-->
</body>

</html>