<div class="header">
  <div class="header-box">
    <div class="img-settings-logout-msg-box">
      <div class="settings">
        <div class="profile-img">
          <img src="{{user.imgPath}}" class="circle responsive-img">
        </div>
        <div class="logout-profile-settings-box">
          <div class="profile-setting">
            <a href="/users/profile"><button class="profile-btn waves-effect waves-light btn">Settings</button></a>
          </div>
          <div class="logout">
            <a href="/logout"><button class="profile-btn waves-effect waves-light btn">Logout</button></a>
          </div>
        </div>
      </div>
      <div class="welcome-msg">
        <h4>welcome {{user.username}}</h4>
      </div>
    </div>
  </div>
</div>

<!--Search --->
<div class="search-box">
  <form action="/tags" method="GET" class="col s12 search-home">
    <div class="row">
      <div class="inputField col s12">
        <input class="search" placeholder="Search for a tag" name="tag" type="text" class="validate">
      </div>
    </div>
    <div class="search-button">
      <button class="btn search-button waves-effect waves-light" type="submit">Search
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<!--- NOTE PARTIALS-->
<div class="container">
  <div class="row">
    <div class="col s12 16 card-display">
      {{#each notesList}}
      {{> notePartial this}}
      {{/each}}
    </div>
  </div>
</div>