<div class="auth-home">
  <a class="home-auth-signup" href='/signup'>Sign up</a>
  <a class="home-auth-login" href='/login'>Login</a>
</div>
<a href="https://www.linkedin.com/in/banahagos/"><img class="linkedin" src="/images/linkedin.png"></a>
<a href="https://github.com/banahagos/notebook-app"><img class="github" src="/images/GitHub.png"></a>

<div class="home-unlogged-headline">
  <h3 class="app-name">scriptbook</h3>
</div>
<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img class="img-responsive" src="/images/typenote.png"> <!-- random image -->
      <div class="caption center-align">
        {{!-- <h4>scribtbook</h4>  --}}
        <h5>create and search notes</h5>
      </div>
    </li>
    <li>
      <img class="img-responsive" src="/images/handwrite.png"> <!-- random image -->
      <div class="caption left-align">
        {{!-- <h4>SCRIPTBOOK</h4>  --}}
        <h5>handwrite notes</h5>
      </div>
    </li>
    <li>
      <img class="img-responsive" src="/images/image.png"> <!-- random image -->
      <div class="caption right-align">
        {{!-- <h4>SCRIPTBOOK</h4> --}}
        <h5>convert images with handwriting</h5>
      </div>
    </li>
  </ul>
</div>
