
body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Profile IMG on all pages except Home */ 
.non-home-progile-img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


/* All pages */
.headline{
  text-align: center;
  padding: 10px 20px 0px 20px;
}

.logged-in-img{
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 0px 0px
}

/* HEADER - HOME-LOGGED */
.header{
  width: 100%;
  height: 250px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
}

.profile-img{
  cursor: pointer
}
.header-box{
  display: flex;
  justify-content: center;
}

.circle {
  width: 80px;
  height: 80px;
  background-image: teal;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.logout-profile-settings-box{
  display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
}

.profile-btn{
  height: 30px;
  width: 70px;
  font-size: 8px;
}

/* HOME - SEARCH */
.search-button{
  display: flex;
  justify-content: flex-end;
}

.search-box{
  padding: 20px 80px 20px 80px;
}

input[placeholder="Search for a tag"]{
  text-align: center;
}

/* HOME -  NOTE DISPLAY */

.time{
  font-size: 12px;
}
.tabs{
  display: flex;
  justify-content: flex-start
}


/* .card-content{
  display: flex;
} */

.card-content p{
  text-decoration: none;
}

.card-buttons{
  display:flex;
  justify-content:flex-start;
}

.btn-floating{
  margin: 10px;
}


.notes-display{
  display: flex;
}

.time{
  justify-self: flex-end;
}

.card-title{
  background-color: teal;
  color: white;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.note-edit-delete-functions{
  display: flex;
}

.card-row-bottom{
  display: flex;
  justify-content: space-between
}

/* TAG */

.click-tag{
  cursor: pointer;
}

.click-tag:hover{
  background-color: teal;
}

.btn-floating:hover{
  background-color: lightseagreen;
}

.card-action{
  display: flex;
}

.paper {
  background-color: #fff;
  background-image:
  /* linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), */
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.all-tags{
  visibility: hidden;
}

.chip-prefill{
  color: white;
}

/* EDIT PAGE */
.container-form {
  display: flex;
  justify-content: center;
  padding: 10px 50px 0px 50px;
}

.chips{
  border: none
}

/* SHOW DETAILS PAGE */
.published-by{
  padding-right: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.note-info{
  display: flex;
  justify-content: space-between
}

/* PROFILE */
.profile-btn{
  display: flex;
  justify-content: center
}

.delete-account-btn{
  display: flex;
  justify-content: center;
  height: 10px;
  align-items: center;
}

/* ERROR */ 

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 40px auto; 
  padding: 20px;
  width: 100%; 
  text-align: center;
}

/* MYSCRIPT HANDWRITING */
select {
  display: inline
} 

#script{
  padding: 0px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around
}

/* PRELOADER */ 
.progress {
  visibility: hidden;
  margin: 40px auto; 
  padding: 20px;
  width: 100%; 
  text-align: center;
}

/* HOME UNLOGGED */


/* START temporary stylin */
/* #form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.success-msg {
  background: lightseagreen;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.home-auth {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
  margin: 10px
}

.logout{
  display: flex;
  justify-content: flex-end;
}

.note-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.create-new-note {
  display: flex;
  align-items: space-around;
}

.card-buttons{
  display:flex;
  justify-content:space-around
}

.search-home{
  display: flex;
  justify-content: flex-end;
}


.search-term{
  font-weight: bold;
}

select {
  display: inline
} */

/* END temporary stylin */

