<div class="row">
  <form action="/tags" method="GET" class="col s12 search-home">
    <div class="row">
      <div class="input-field col s12">
        <input class="search" placeholder="Search for a tag" name="tag" type="text" class="validate">
        <label for="Search">Search</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

{{#if tagSearchResult}}
<h5>Search results for <span class="search-term">{{searchTerm}}</span></h5>
{{/if}}
<div class="note-container">
  {{#each tagSearchResult}}
  {{> searchPartial this}}
</div>
{{/each}}
{{#if message}}
<div class="error-message">{{message}}</div>
{{/if}}