<div class="row">
  <h5>Create a new note</h5>
  <form action="/notes" method="POST" class="col s12">
    <div class="row">
      <div class="inputField col s12">
        <input name="title" placeholder="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="inputField col s12">
        <textarea name="text" id="textarea1" class="materialize-textarea"></textarea>
        <label for="text">Text</label>
      </div>
    </div>

    <div id="inputField"></div>
    <!-- Chips  -->
    <label for="">Tags</label>
    <div name="tags" id="chips" class="chips">
    </div>

    <button type="submit" class="btn btn-info submit-new-note">Create a note</button>
  </form>
</div>

{{#each tags}}
<p class="all-tags">{{name}}</p>
{{/each}}