{{!-- <div id="result"></div> --}}
<div>
    <form action="/notes/script" method="POST" id="script">
        <textarea id="result-input" type="text" name="recoResult" class="materialize-textarea"></textarea>
        <button id="save-button-handwriting" class="waves-effect waves-light btn-small" type="submit">Save</button>
    </form>
    <nav>
        <div class="button-div">
            <button id="clear" class="nav-btn btn-fab-mini btn-lightBlue" disabled>
                <img src="/images/script_assets/img/clear.svg">
            </button>
            <button id="undo" class="nav-btn btn-fab-mini btn-lightBlue" disabled>
                <img src="/images/script_assets/img/undo.svg">
            </button>
            <button id="redo" class="nav-btn btn-fab-mini btn-lightBlue" disabled>
                <img src="/images/script_assets/img/redo.svg">
            </button>
        </div>
        <select id="language">
            <option value="en_US" selected>EN (US)</option>
            <option value="de_DE">DE</option>
        </select>
    </nav>
    <div id="editor" touch-action="none"></div>
</div>